.bm-burger-button {
   position: fixed;
   width: 60px;
   height: 60px;
   right: 20px;
   top: 20px;
   color: #3c3731;
}

.bm-cross-button {
   right: 20px !important;
   top: 20px !important;
   height: 40px !important;
   width: 40px !important;
}

.bm-burger-bars {
   background: #3c3731;
}

.bm-menu {
   background: #46413a;
   padding: 5.6rem 2rem 0;
   font-size: 1.8rem;
}

.menu-item {
   color: #fcf9f6;
   text-decoration: none;
}
